@media screen and (min-width: 1024px) {
    img.img-curso {
        width: 280px;
        height: 280px;
    }
}

@media screen and (max-width: 768px) {
    img.img-curso {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 425px) {
    img.img-curso {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 375px) {
    img.img-curso {
        width: 250px;
        height: 250px;
    }
}