div#banner {
    background-image: url('../assets/imgs/banner-site.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 1;
}

@media screen and (max-width: 425px) {
    div#banner {
        background-size: 768px 747px;
    }
}

@media screen and (max-width: 375px) {
    div#banner {
        background-size: 768px 777px;
    }
}

@media screen and (max-width: 320px) {
    div#banner {
        background-size: 768px 807px;
    }
}