.imagem-logo.pequena {
    height: 40px;
    width: 176.8px;
}

.imagem-logo {
    height: 50px;
    width: 221px;
    transition: height 0.8s;
    transition: width 0.7s;
}

#header.pequena {
    height: 70px;
}

#header {
    height: 80px;
    transition: height 0.6s;
}