<h1 class="mt-4 mb-4 fw-bold fs-1">Controle de reservas</h1>
<div>
    <div class="row d-flex justify-content-between align-items-center">
        <div class="mt-2 col-9 col-md-11 form-outline mb-2">
          <mat-form-field class="w-100">
            <mat-label>Selecione o período</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
              <input matStartDate formControlName="start" placeholder="Data de início">
              <input matEndDate formControlName="end" placeholder="Data de término">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            @if (range.controls.start.hasError('matStartDateInvalid')) {
              <mat-error>Data de início inválida</mat-error>
            }
            @if (range.controls.end.hasError('matEndDateInvalid')) {
              <mat-error>Data de término inválida</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-3 pb-4 col-md-1 text-center">
          <button (click)="pesquisarReservas()" mat-fab color="primary" type="button">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
</div>
<div class="d-flex flex-wrap justify-content-between">
    @for(reservaGrid of reservas; track reservaGrid){
      <p class="w-100 fw-bold fs-4 mt-4 mb-4">{{reservaGrid.data | date: 'dd/MM/yyyy'}}</p>
      @for (reserva of reservaGrid.reservas; track reserva) {
        <mat-card  class="col-12 col-md-5 col-lg-4 mb-4 mt-4">
            <mat-card-header>
              <mat-card-title>
                  <mat-chip-listbox>
                    @for (suite of reserva.suites; track suite) {
                      <mat-chip class="bg-{{corChipDoChale(suite)}}">{{getDescricaoChipChale(suite)}}</mat-chip>
                    }
                  </mat-chip-listbox>
                  {{reserva.nome}}
              </mat-card-title>
              <mat-card-subtitle>
                @if(reserva.qtdCriancas > 0){
                  {{reserva.qtdAdultos}} adultos e {{reserva.qtdCriancas}} crianças
                }
                @else {
                  {{reserva.qtdAdultos}} adultos
                }
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div class="d-flex justify-content-between mt-4 mb-3">
                <div class="d-flex flex-column">
                  <span class="fw-bold text-uppercase">check-in</span>
                  <div class="d-flex align-items-center mb-1 pb-1">
                    <mat-icon>calendar_today</mat-icon>
                    &nbsp;
                    <p class="m-0 mt-1">
                      {{buscaDataFormatoTela(reserva.checkin) }}
                    </p>
                  </div>
                </div>
                <div class="d-flex flex-column col-6">
                  <span class="fw-bold text-uppercase">check out</span>
                  <div class="d-flex align-items-center mb-1 pb-1">
                    <mat-icon>calendar_today</mat-icon>
                    &nbsp;
                    <p class="m-0 mt-1">
                      {{buscaDataFormatoTela(reserva.checkout) }}
                    </p>
                  </div>                </div>
              </div>
              <div class="d-flex justify-content-between mb-3">
                <div>
                  <span class="fw-bold text-uppercase">chegará às</span>
                  <div class="d-flex align-items-center mb-1 pb-1">
                    <mat-icon>access_time</mat-icon>
                    &nbsp;
                    <p class="m-0 mt-1">
                      {{reserva.chegada}}
                    </p>
                  </div>
                </div>
                <div class="col-6">
                  <span class="fw-bold text-uppercase">status</span>
                  <p>{{getDescricaoStatus(reserva.status)}}</p>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
              <p class=" mt-3 mb-2 fw-bold text-success text-uppercase fs-3">
                {{buscaValorReservaFormatoTela(reserva.valor)}}
              </p>
              <div>
                <button (click)="abrirExcluirReserva(reserva.id)" mat-mini-fab color="warn m-2 mb-0 mt-0 p-0" aria-label="Deletar">
                  <mat-icon>delete</mat-icon>
                </button>
                <button (click)="editarReserva(reserva.id)" type="button" mat-mini-fab color="ligth" aria-label="editar">
                  <mat-icon>edit</mat-icon>
                </button>
               </div>
              </div>
            </mat-card-content>
          </mat-card>
      }
      <br/>
    } @empty {
      <p>Não há reservas para os filtros informados!</p>
    }
</div>
