/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-standard-chip.bg-warning,
.mat-mdc-standard-chip.bg-success,
.mat-mdc-standard-chip.bg-danger,
.mat-mdc-standard-chip.bg-primary,
.mat-mdc-standard-chip.bg-dark
{
  --mdc-chip-label-text-color: #fff;
}

.spacer {
  flex: 1 1 auto;
}
