/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.p-0{
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0{
  padding-bottom: 0;
}

.spacer {
    flex: 1 1 auto;
}

/*
.d-flex {
    display: flex !important;
}

.flex-wrap{
    flex-wrap: wrap !important;
}

.justify-content-around{
    justify-content: space-around !important;
} */
